/2023/week1/nbproject/private/
/2023/week1/build/
/2023/week1/dist/
/2023/JAB/JavaForMobile/nbproject/private/
/2023/JAB/JavaForMobile/build/
/2023/JAW/Week2/nbproject/private/
/2023/JAW/Week2/build/
/2023/JAW/Week3/nbproject/private/
/2023/JAW/Week3/build/
/2023/JAW/Week4/nbproject/private/