body{
    background-color: rgb(118, 178, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.enter{
    height:35px;
    width:75px;
    font-size: large;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgb(109, 22, 19);
    min-height: 20px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: beige;
}